/* 
    Created on : Feb 29, 2016, 8:03:05 AM
    Author     : Jim Burns
     ** CSS reset code **
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    height:100%;
    position: relative;
    font-family: "Open Sans", helevetica, arial;
    /*background:#f1f1f1;    */
    background-image: url(../images/admin-bg.png);
    background-repeat: repeat;
    //background-size: cover;
}

/*
.bg-pattern {
    //background-image: url("../images/diagonal-grid-pattern.png");
    padding:0px 25px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-right: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    border-left: #ddd 1px solid;
    /*margin-top: -20px;
    margin-bottom: -20px; *//*
    height: 100%;
    width: 100%;
}*/


.affix {
    top: -15px;
    width: 100%;
    z-index:999;
    background-color: #fff;
    padding-bottom: 20px;
    -webkit-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out;
}
  .affix-top {
      position: static;
      top: -35px;
  }
  .affix + .container-fluid {
      //padding-top: 170px;
  }
  
  /*---------------- Site-wide ---------------------*/
/* Theme colors */
.red {color: #ff3333;}
.Red {color: #ff3333;}
.black {color: #222222;}
.yellow{color: #ffff00;}
.white {color: #fff;}
.green {color: #00ff00}
.Green {color: #00ff00}
.btn-buy-blue {background-color: #0080FF; color:#fff;}
.green-checkmark{color: #008000;}
.blue{color: #0000ff;}
.buy-blue{color:#0080FF;}
.bg-2e2e2e{background-color:#2E2E2E;}
.bg-purple{background-color: #301482;}
.bg-fff{background-color: #fff;}
.bg-f1f1f1 {background-color: #f1f1f1;}


/*---------------- Formatting --------------------*/
.p1{margin-bottom: 1em;}
.p2{margin-bottom: 2em;}
.p3{margin-bottom: 3em;}
.p4{margin-bottom: 4em;}
.p5{margin-bottom: 5em;}
.text-size50{font-size:50%;}
.text-size60{font-size:60%;}
.text-size70{font-size:70%;}
.text-size80{font-size:80%;}
.text-size90{font-size:90%;}
.text-size110{font-size:110%;}
.text-size120{font-size:120%;}
.text-size130{font-size:130%;}
.text-size140{font-size:140%;}
.text-size150{font-size:150%;}
.text-size160{font-size:160%;}
.text-size175{font-size:175%;}
.text-size200{font-size:200%;}
.t05{margin-top: .5em;}
.t1{margin-top: 1em;}
.t2{margin-top: 2em;}
.t3{margin-top: 3em;}
.tminus05{margin-top: -0.5em;}
.tminus1{margin-top: -1em;}
.tminus2{margin-top: -2em;}
.tminus3{margin-top: -3em;}
.tminus05{margin-top: -5px;}
.tminus10{margin-top: -10px;}
.tminus15{margin-top: -15px;}
.tminus20{margin-top: -20px;}
.m-left10{margin-left: 10px;}
.m-left15{margin-left: 15px;}
.m-left20{margin-left: 20px;}
.bold{font-weight: bold;}
.pr05{padding-right: 5px;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pr50{padding-right: 50px;}
.pr75{padding-right: 75px;}
.pr100{padding-right: 100px;}
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.ptop20{padding-top:20px;}
.gray-convert {   
    filter: grayscale(90%);
    /*-webkit-filter: grayscale(90%);*/
}
.errMsg {color: #ff0000;}
.bg-ddd {background-color: #ddd;}
.bg-f9f {background-color:#f9f9f9;}
.bg-fff {background-color: #fff;}


.border-box{border: #ddd 1px solid; border-radius: 4px; padding: 20px;}
  
/*----------  Navigation  -------------*/  
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
	color: #ff0000;
}

/*----------  Admin/insert_post.php  -------------*/ 
.insert-post input {width: 20em;}
.insert-post textarea {width:55em;}

@media (max-width:1199px){
    .insert-post textarea {width:50em;}
}
@media (max-width:1024px){
    .insert-post textarea {width:45em;}
}
@media (max-width:991px){
    .insert-post textarea {width:35em;}
}
@media (max-width:768px){
    .insert-post textarea {width:30em;}
}
@media (max-width:638px){
    .insert-post textarea {width:25em;}
}
@media (max-width:556px){
    .insert-post textarea {width:20em;}
}
@media (max-width:476px){
    .insert-post textarea,
    .insert-post input {width:15em;}
}
@media (max-width:392px){
    .insert-post textarea,
    .insert-post input {width:12em;}
}

.post_area,
.sidebar {height: 800px;}
			
.post_area {
    background:#FFF; 
}


#social {
    margin:4px; 
    padding:5px; 
    text-align:center;
}
#social img {width:50px; border:2px solid #333;}

.footer_area {
    background-color: #301482;
    color:#FFF; 
}

/*  add new post  */
/*  new-post-form */

#new-post-form {
    overflow: auto;
    padding: 30px 20px 20px 10px;
    width: 100%;
    height: auto;
    background-color: #f1f1f1;;
}

#add-category-form {
    overflow: auto;
    padding: 30px 20px 20px 10px;
    width: 100%;
    height: auto;
    background-color: #f1f1f1;;
}

#edit-post-form {
    overflow: auto;
    padding: 30px 20px 20px 10px;
    width: 100%;
    height: auto;
    background-color: #f1f1f1;;
}

#edit-comments-form {
    overflow: auto;
    padding: 30px 20px 20px 10px;
    width: 100%;
    height: auto;
    background-color: #f1f1f1;;
}

/*  login.html.php styles */
#login-bg{
    position: fixed;
    top:0;
    left:0;
    min-height: 100%;
    min-width: 100%;
    z-index: 2;
    opacity: .15;
}

/* main.html.php styles */
#admin-bg {
    position: fixed;
    top:0;
    left:0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    opacity: .15;
}